<div>
  <h2>Weather</h2>
  Description : 
    <select [(ngModel)]="data.weather.description">
      <option *ngFor="let desc of weatherDescriptions" [ngValue]="desc">
        {{desc}}
      </option>
    </select><br/>
    
  Temperature : 
    <ng-number-picker [(value)]="data.weather.temperature" 
                        [min]="'-20'" 
                        [max]="'120'" 
                        [step]="'1'"
                        [postfix]="'&deg;'"
                        [showDownButton]="true" 
                        [showUpButton]="true" 
                        [mouseWheel]="true">
    </ng-number-picker> <br/>
  
    Percent Chance Perciptation : 
    <ng-number-picker [(value)]="data.weather.percentageRain" 
                        [min]="'0'" 
                        [max]="'100'" 
                        [step]="'1'"
                        [postfix]="'%'"
                        [showDownButton]="true" 
                        [showUpButton]="true" 
                        [mouseWheel]="true">
    </ng-number-picker> <br/>
</div>

<div>
  <h2>Headlines</h2>
  <input #tempHeadline />
  <button (click)="addHeadline(tempHeadline.value); tempHeadline.value=''">Add</button>
  <div *ngFor="let headline of data.headlines">
     - {{headline}}
  </div>
  <button (click)="clearHeadlines()">Clear Section</button>
</div>

<div>
  <h2>Scrolling Message</h2>
  <div>
    <input [(ngModel)]="data.scroll" />
  </div>
</div>

<div>
  <button (click)="clear()">Clear All</button>
  <a routerLink="/info">
    << Display Page
  </a>
</div>