<div>
  <div class="flex-container">
    <div class="flex-column weather">
      <h2>Weather</h2>
      {{data.weather.description}}<br/>
      {{data.weather.temperature}} degrees<br/>
      {{data.weather.percentageRain}}% chance of rain
    </div>

    <div class="flex-column announcements">
      <h2>Announcements</h2>
      <div *ngFor="let announcement of data.announcements">
        - {{announcement}}
      </div>
    </div>

  </div>

  <div>
    <div *ngIf="!isMobile">
      <marquee>{{data.scroll}}</marquee>
    </div>
    <div *ngIf="isMobile">
      <div class="flex-column">{{data.scroll}}</div>
    </div>
  </div>
</div>
<div>
  <a routerLink="/admin">
    Admin Page >>
  </a>
</div>